{% from 'render_field.html' import render_field %}
{% extends "base.html" %}

{% block title %} Users {% endblock %}

{% block content %}

<h1>Posts page</h1>
<br>
<div>
    <div class="mt-4">
        <table class="table mb-4 text-center">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Image</th>
                    <th scope="col">Text</th>
                    <th scope="col">Type</th>
                    <th scope="col">Category</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody style="vertical-align: middle;">
                {% for post in posts %}
                <tr>
                    <td>
                        {{ post.id }}</a>
                    </td>
                    <td>
                        <a href="{{ url_for('posts.post', id=post.id) }}">{{ post.title }}</a>
                    </td>
   
                    <td>
                        <img alt="..." class="img-fluid rounded shadow-lg" src="{{ url_for('static', filename='images/' + post.image_file) }}" style="width: 150px; height: 150px;">
                    </td>

                    <td>
                        {{ post.text[:33] }}{% if post.text|length > 0 %}...{% endif %}
                    </td>

                    <td> 
                        {{post.type}}
                    </td>

                    <td> 
                        <span class="badge rounded-pill bg-primary">{{post.category.name}}</span>
                    </td>

                    <td> 
                        {{post.created.strftime('%Y-%m-%d %H:%M:%S')}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>        
    </div>
</div>

{% endblock %}