{% from 'render_field.html' import render_field %}
{% extends "base.html" %}

{% block title %} Users {% endblock %}

{% block content %}

<div class="card mt-4 mx-auto" style="width: 50%;">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1 class="card-title">{{ post.title }}</h1>
            {% if current_user.is_authenticated %}
                <div>
                    <a class="btn btn-primary btn-sm" href="{{ url_for('posts.edit', id=post.id) }}">Edit</a>
                    <a class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</a>

                    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="deleteModalLabel">Delete</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <p>Do you really want to delete this post?</p>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-primary" href="{{ url_for('posts.delete', id=post.id) }}">Delete</a>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            {% endif %}
        </div>

        <div class="text-muted small mb-2">
            Posted on {{ post.created.strftime('%Y-%m-%d %H:%M:%S') }} | Type: {{ post.type }} | Category: {{ post.category.name }}
        </div>

        {% if post.image_file %}
        <img alt="Post Image" class="img-fluid rounded shadow-lg mx-auto d-block mb-3 mt-4" src="{{ url_for('static', filename='images/' + post.image_file) }}" style="max-width: 100%;">
        {% endif %}

        <div class="card-text mt-4">
            {% for paragraph in post.text.split('\n') %}
                <p>{{ paragraph }}</p>
            {% endfor %}
        </div>
    </div>
</div>
<br>
<br>
{% endblock %}


